<!DOCTYPE html>
<html>
<head>
	<title>conditional global statment</title>
</head>
<body>
	{{range .}}
	{{.Name}}
	{{end}}
	{{range .}}
		{{if or .Name .Admin}}
			Admin: {{.Name}}
		{{end}}
	{{end}}
</body>
</html>